.label {
    -fx-pref-width: 100px;
}

.root {
    -fx-padding: 24px;
    -fx-background-color: white;
    -fx-fill: rgba(0, 0, 0, 0.87);
    -fx-spacing: 10px;
}

.button-box {
    -fx-padding: 10px 0;
    -fx-spacing: 10px;
}